venv/
.venv/
__pycache__/
*.py[cod]
.env
.vscode/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

#Trained ModernBERT model
pipeline/classification/supervised/trained_model/

*.pyc
app/uploads/
frontend/node_modules/
frontend/dist/
.env.*